.cp_line{
    margin: 5px 0;
    overflow: hidden;
    position: relative;
}
.chose_d{ width: 22px;position: absolute;background-repeat:no-repeat;height: 22px;background-size: contain;top: 22px;left: 4px;}
.cn{ background-image: url(../images/q_n.png);}
.cy{background-image:url(../images/q_y.png)}


.cp_line .imgd{
    margin-left: 34px;
    float: left;
}
.cp_line .imgd img{
    border: 1px solid #CECECE;
    width: 84px;
    height: 91px;
}
.cp_line .tx_r{
    float: right;
    width: 57vw;
}
.cp_line .tp{
    line-height: 18px;
    font-size: 12px;
}
.cp_line .money3{
    color: #ff544b;
    font-size: 22px;
}
.cp_line .pl{
    font-size: 15px;
    color: #aaa;
}
.chose_btn{
    line-height: 54px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.chose_btn li{
    float: left;
    text-align: center;
    font-size: 20px;
}
.chose_btn li img{
    height: 3.5vh;
}
.chos_all{
    background-color: #fff;
    width: 34%;
}
.chos_all i{margin-top: 4px;margin-right: 8px;width: 20px;display:inline-block; background: url(../images/q_n.png) no-repeat center center; background-size: 20px;height: 20px;vertical-align: text-top;}
.on i{margin-top: 4px;margin-right: 8px;width: 20px;display:inline-block; background: url(../images/q_y.png) no-repeat center center; background-size: 20px;height: 20px;vertical-align: text-top;}
.del{
    color: #fff;
    background-color: #a4a4a4;
    width: 31%;
}
.buy{
    background-color: #ff544b;
    width: 35%;
    color: #fff;
}
.btn_del{
    display: block;
    position: absolute;
    right: 10px;
    bottom: 6%;
    border: 1px solid #AFAFAF;
    padding: 4px 12px;
    border-radius: 4px;
    color: #333;
}
.no_del  .buy{width:50%}
.no_del  .chos_all{width:50%}















