
.xq_img{}
.xq_img img{ width: 100%; height: 100%}

.ms_txt{;padding: 10px 10px 0;font-size: 1.2pc;}
.txta{;padding: 10px;line-height: 1.4pc;margin-bottom: 8px;}
.jiage{display: inline-block;font-size: 1.6pc;/* float: right; */}
.ping{padding-left: 4px;display: inline-block;color: #888;}


.btn-r{
    float: right;
}


.qd_tn{
    padding: 2px 8px;
    background-color: #F84634;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}

.buy_box{
    overflow: hidden;
    padding: 8px;
}
.buy_line{
    overflow: hidden;
    clear: both;
    line-height: 2.5pc;
    font-size: 1.2pc;
}
.by_h{
    text-align: right;
    width: 108px;
    float: left;
}
.by_r{
    float: left;
}

.cp_box{
    margin: 8px 2%;
    overflow: hidden;
}
.cp_box .xq{
    overflow: hidden;
}
.cp_box .xq li{
    padding: 12px 0;
    display: block;
    clear: both;
    border-bottom: 1px solid #d2d4dc;
    overflow: hidden;
}
.cp_box .peo{
    margin-top: 8px;
    margin-right: 2%;
    float: left;
    width: 20%;
}
.cp_box .peo img{ width: 100%}
.cp_box .peo_r{
    width: 78%;
    float: left;
}
.cp_box .tp{
    line-height: 2pc;
    overflow: hidden;
}
.cp_box .ping_txt{
    font-size: 1.1pc;
    line-height: 1.8pc;
    padding: 10px 0 14px;
}
.cp_box .name{
    color: #fc462a;
    padding-left: 2%;
    font-size: 1.2pc;
    float: left;
}
.cp_box .pj{
    float: right;
}
.cp_box .pj img{    vertical-align: sub;}

.btn_po{ padding: 0 10px;border-radius: 4px;border: 1px solid #ccc; display: inline-block;height: 26px;line-height: 26px;font-size: 1pc;}
.btn_po_on{
    border: 1px solid #F84634;
    background-color: #F84634;
    color: #fff;
}
.cp_navs{
    overflow: hidden;
}

.cp_navs li{
    line-height: 40px;
    font-size: 1.2pc;
    float: left;
    /* display: block; */
    width: 50%;
    text-align: center;
}
.cp_navs li.on{line-height: 37px;border-bottom: 3px solid #fc462a;color:#fc462a}


@media (min-width:321px){
	
}
@media (min-width:721px){
	
}




