.ggc{height: 90%;background: url(../images/ggc.jpg) center 30% no-repeat;background-size: 80%;}
.no_sc{height: 90%;background: url(../images/ggc.jpg) center 30% no-repeat;background-size: 80%;}

.xq_h{}
.ipt_name{}




















