body{background: url( ../images/login_bg.png) center top no-repeat;    background-size: contain;}


.logo{
    position: absolute;
    top: 14%;
    left: 20%;
    right: 20%;
}
.logo img{
    width: 100%;
}
.login_box{
    right: 4px;
    left: 4%;
    position: absolute;
    top: 50%;
}
.lin{
    font-size: 1.3pc;
    margin-top: 14px;
    border-bottom: 1px solid #d6d9e2;
    padding: 4px 8px 8px;
    clear: both;
    overflow: hidden;
}
.lin .ico{text-align: center;width: 40px;float: left;}
.lin .ico img{}
.lin .ipt{
    line-height: 30px;
    /* float: left; */
}
.lin .ipt input{
background: none;border: none;padding-left: 4px;width: 60%;}

.lin_h{
    color: #8C8C8C;
}
.lin .cls{
    float: right;
}

.deng_btn{
    display: block;
    background-color: #ff544b;
    line-height: 55px;
    border-radius: 99px;
    text-align: center;
    font-size: 1.5pc;
    color: #fff;
    margin-top: 15%;
}

.zc{
    text-align: right;
    padding-top: 4%;
    padding-right: 2%;
}
.zc a{
    color: #9C9C9C;
}
